<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
    <title>Wishlist</title>
</head>
<body>
    <section >
        <div class = 'giftbox-container'>
            <div>
                <div id = 'giftbox1'><img class = 'giftbox'src="/img/box1.png" alt=""></div>
                <div id = 'giftbox2'><img class = 'giftbox' src="/img/box2.png" alt=""></div>
                <div id = 'giftbox3'><img class = 'giftbox' src="/img/box3.png" alt=""></div>
                <div id = 'giftbox4'><img class = 'giftbox' src="/img/box4.png" alt=""></div>
            </div>
            <a href="/wishlist">Enter</a>
    </section>
   
  
</body>
</html>